/* Main Window */
QMenuBar {
    background-color: #393939;
    color: #d2d2d2;
}

QStatusBar {
    background-color: #393939;
    color: #d2d2d2;
}

Container {
    background-color: #2a2a2a;
}

QSplitter::handle {
    background: #393939;
    border: none;
}